.wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}
.input {
    margin-right: 3px;
    max-width: 450px;
}
@media (max-width: 1023px) {
    .input {
        font-size: 15px;
        max-width: 260px;
    }
    .wrapper button{
        font-size: 12px;
    }
}